/* src/styles/main-section.css */
.main-section{


position: absolute;
bottom: 40%;
left: 20%;
color: white;
font-weight: bold;
font-size: 40px;
width: 761px;
z-index: 1;



}

.btn{


background-color: #128c76;
width: 30%;
height: 5vh;
border: none;

}

